/* Container styling */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

/* Card styling */
.student-card {
    width: calc(33.33% - 16px);
    margin-bottom: 16px;

    @media (max-width: 768px) {
        width: 100%;
    }

    .card-header {
        display: flex;
        margin-bottom: 16px;
        align-items: center;

        .avatar-container {
            width: 64px;
            height: 64px;
            margin-right: 16px;

            .avatar {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background-color: blue;
            }
        }

        .student-info {
            h2 {
                font-size: 20px;
                margin-bottom: 8px;
            }

            p {
                font-size: 14px;
                color: cadetblue;
            }
        }
    }

    .student-details {
        p {
            margin-bottom: 8px;
        }
    }

    mat-card-actions {
        justify-content: flex-end;
    }
}
